<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NRT Restaurant Apps</title>
  <meta name="description"
    content="Restaurant Apps - NRT Restaurant (Submission 1) merupakan sebuah Aplikasi Katalog Restoran pada Kelas Menjadi Front-End Web Developer Expert ">
</head>

<body>

  <navigation-bar></navigation-bar>

  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">NRT Restaurant</h1>
      <div class="description">
        <p class="hero_description">Anda Lapar ? Silahkan cari Tempat Makan yang Anda pengen dibawah ini :</p>
        <a href="#content" class="btn">Klik disini untuk Explore Restaurant</a>
      </div>

    </div>
  </div>

  <item-card></item-card>

  <footer>
    <p>© 2023 | Restaurant Apps - [ Bayu Afif Nuranto ] </p>
  </footer>
</body>

</html>